.hide{
    display: none;
}

main{
    height: 400px;
    width: 1000px;
}
#themeswitch{
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
   
}
main{
    padding: 20px;
}
.row{
    width: 160%;
}