<h3>Register</h3>
<hr>
<form>
    <div class="mb-3">
        <label for="NameField" class="form-label">Név</label>
        <input type="text" class="form-control" id="Namefield">
    </div>
    <div class="mb-3">
      <label for="Emailfield" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Emailfield">
    </div>
    <div class="mb-3">
      <label for="Passwordfield" class="form-label">Jelszó</label>
      <input type="password" required minlength="8"  class="form-control" id="Passwordfield">
    </div>
    <div class="mb-3">
        <label for="ConfirmPasswordfield" class="form-label">Jelszó Megerősítés</label>
        <input type="password" required minlength="8"  class="form-control" id="ConfirmPasswordfield">
    </div>
    
    <button type="submit" class="btn button" onclick="Registeruser()">Regisztráció</button>
</form>