<h3>Időjárás módosítás</h3>
<hr>
<div class="row">
    <div class="col-lg-5 col-md-4">
        <label for="Date">Dátum</label>
        <input type="date" class="form-control" id="Datefield" placeholder="Dátum">
    </div>
    <div class="col-lg-2 col-md-1">
        <label for="Tempsfield">Hőmérséklet</label>
        <input type="number" min="-50" max="50" class="form-control" id="Tempsfield" >
    </div>
    <div class="col-lg-3 col-md-2">
        <Label>Időjárás</Label>
        <select class="form-select" aria-label="Default select example" id="Weatherfield">
            <option value="Derült">Derült</option>
            <option value="Gyengén felhős">Gyengén felhős</option>
            <option value="Erősen felhős">Erősen felhős</option>
            <option value="Borult">Borult</option>
            <option value="Eső">Eső</option>
            <option value="Zivatar">Zivatar</option>
            <option value="Havazás">Havazás</option>
            
        </select>
    </div>
    
    <div class="col-lg-5 col-md-4">
        <button class="btn btn-primary " id="Addbtn" onclick="Weatheradd()" >Hozzáadás</button>
        <button class="btn btn-warning hide" id="Updatebtn" onclick="Weatherupdate()" >Módosítás</button>
        <button class="btn btn-danger hide" id="Delbtn" onclick="Weatherdelete()">Törlés</button>
        <button class="btn btn-secondary hide" id="Cancelbtn" onclick="cancel()" >Mégse</button>
       
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-start" >Dátum</th>
            <th class="text-end">hőmérséklet</th>
            <th class="text-end">Időjárás</th>
            <th class="text-end">Műveletek</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
   
</table>